<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccessToken" value="b67ffb597d99232216da3ff4647cde05"/>
    <add key="TokenSecret" value="6c164cb36bf340fc"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>